{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Page Accueil</h1>
    <div class="row mt-4">
        {% for property in properties %}
        <div class="card col-3"style="width: 16rem; margin:10px">
            <div class="card-body">
                <h3 class="card-title">{{property.title}}</h3>
                <p class="card-text">{{property.description}}</p>
                <p class="card-text">{{property.price}} $</p>
                <a href="#" class="btn btn-primary">Voir Plus</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}